<html>
    <head>
    </head>
    <body>
        <table style="width: 100%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; height: 70%">
            <tbody>
            <tr>
            <td>MEME NUMBER</td>
            <td>MEME NAME</td>
            <td>MEME IMAGE</td>
            <td>MEME DESCRIPTION</td>
            </tr>
            <tr>
            <td>1</td>
            <td>{{text1}}</td>
            <td><app-third-component></app-third-component></td>
            <td>{{text2}}</td>
            </tr>
            <tr>
            <td>2</td>
            <td>{{text3}}</td>
            <td><app-fourth-component></app-fourth-component></td>
            <td>{{text4}}</td>
            </tr>
            </tbody>
            </table>


    </body>
</html>