<html>
    <head>
    </head>
    <body>
        <table style="width: 100%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; height: 70%">
            <tbody>
            <tr>
            <td>MEME NUMBER</td>
            <td>MEME NAME</td>
            <td>MEME IMAGE</td>
            <td>MEME DESCRIPTION</td>
            <td>LIKE A NUMBER</td>
            </tr>
            <tr>
            <td>1</td>
            <td>{{array[0].text1}}</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVN4zPnR0T-ELybDxbH5xbmSkQ6mVQzO7GRoN1QuS8SiSXafxUB_lVYwu4jmBR6tsqyRU&usqp=CAU" alt=""></td>
            <td>{{array[0].text2}}</td>
            </tr>
            <tr>
            <td>2</td>
            <td>{{array[1].text3}}</td>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBl-QbAsK9p5RC7GLNfMAcv5SUZy9zqXSh9hLwhxSujHPjCUqQqc1lgxpejRqLPrgQeto&usqp=CAU" alt=""></td>
            <td>{{array[1].text4}}</td>
            </tr>
            </tbody>
            </table>


    </body>
</html>